*.class

# Package Files #
*.jar
*.war
*.ear

# netbeans files.
lib/*
build.xml
build/*
nbproject/*

# Maven files
*/target/*
*/dependency-reduced-pom.xml
/target/

*/.settings
*/.classpath
*/.project
*/.gitignore
.project
.settings
.idea
*.iml
